.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url('./ssf2x.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: blur(8px) grayscale(100%);
}

#rankingTable {
  padding-top: 200px;
}

.ranking-chart {
  color: white;
}

.chart-head {
  color: black;
}

.table-group-divider {
  border-top-color: black;
}

.win-loss {
  color: black;
}