.Main {
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 100px;
}

.App-header::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url('./ssf2x.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: blur(8px) grayscale(100%);
}

.table-group-divider {
  border-top-color: black;
}

.svg-responsive {
  display: none;
}

.img-2x-logo {
  position: fixed;
  right: 0;
  width: 20%;
  height: 10%;
}

.Player {
  font-size: calc(10px + 2vmin);
}

.player-profile-link {
  text-decoration: none;
}

@media (max-width: 1150px) {
  svg {
    display: none;
  }

  .svg-responsive {
    display: block;
  }

  th, td {
    border: 1px solid black;
  }
}

@media (max-width: 600px) {
  iframe {
    margin-top: 20px;
    width: 240px;
    height: 160px;
  }
}

@media (max-width: 700px) {
  .win-responsive {
    display: none;
  }
  .loss-responsive {
    display: none;
  }

  .rank-responsive {
    display: none;
  }
  .icon-responsive {
    width: 15%;
  }

  .text-responsive {
    font-size: 80%;
  }
}