.Main {
  font-size: calc(10px + 2vmin);
  color: white;
}

.Player {
  font-size: calc(10px + 2vmin);
}

.About {
  font-size: calc(10px + 2vmin);
}

.bg-table {
  border-radius: 25px;
  background: rgb(158,158,158);
  background: radial-gradient(circle, rgba(158,158,158,1) 0%, rgba(158,158,158,0.7567401960784313) 100%);
}

.App-header::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url('./ssf2x.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: blur(8px) grayscale(100%);
}

.table-group-divider {
  border-top-color: black;
}

.svg-responsive {
  display: none;
}

.img-2x-logo {
  position: fixed;
  right: 0;
  width: 20%;
  height: 10%;
}

.player-profile-link {
  text-decoration: none;
}

.icon-responsive {
  float: right;
}

@media (max-width: 1150px) {
  svg {
    display: none;
  }

  .video-icon-responsive {
    width: 32px;
  }

  .svg-responsive {
    display: block;
  }
}

@media (max-width: 480px) {
  iframe {
    margin-top: 20px;
    width: 240px;
    height: 160px;
  }

  .result-responsive {
    display: none;
  }

  .thead-link-responsive {
    display: none;
  }

  .set-win-responsive {
    display: none;
  }
}

@media (max-width: 700px) {
  .win-responsive {
    display: none;
  }
  .loss-responsive {
    display: none;
  }

  .rank-responsive {
    display: none;
  }
  .icon-responsive {
    width: 25%;
  }

  .text-responsive {
    font-size: 80%;
  }

  .player-info {
    display: none;
  }

  .date {
    display: none;
  }
}

@media (min-width: 700px) {
  .player-info-responsive {
    display: none;
  }

  .match-table-responsive {
    display: none;
  }

  .date-responsive {
    display: none;
  }
}