.Main {
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url('./ssf2x.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: blur(8px) grayscale(100%);
}

#rankingTable {
  padding-top: 200px;
}

.table-group-divider {
  border-top-color: black;
}

.svg-responsive {
  display: none;
}

.player-profile-link {
  text-decoration: none;
}

@media (max-width: 1150px) {
  svg {
    display: none;
  }

  .svg-responsive {
    display: block;
  }

  th, td {
    border: 1px solid black;
  }
}

@media (max-width: 700px) {
  .win-responsive {
    display: none;
  }
  .loss-responsive {
    display: none;
  }

  .rank-responsive {
    display: none;
  }
  .icon-responsive {
    width: 15%;
  }

  .text-responsive {
    font-size: 80%;
  }
}